.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 154px;
  font-weight: 700;
  margin: 18px auto 22px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 69px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 73px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/_GS_6875-1603561995-1603561996.jpeg");
}

.u-section-2 .u-sheet-1 {
  min-height: 418px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 71px 482px 60px 144px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: 5px 410px 36px 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 206px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 92px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 111px;
  margin: 20px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 69px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 73px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/ksblog-11-jigoro-kano-the-founder-of-judo-technique.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 1892px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 291px 0 342px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 12px 291px 60px 342px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1560px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 191px;
    margin-left: 242px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 191px;
    margin-left: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 81px;
    margin-left: 132px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 81px;
    margin-left: 132px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 210px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }
}