.u-section-1 .u-sheet-1 {
  min-height: 131px;
}.u-section-2 .u-sheet-1 {
  min-height: 668px;
}

.u-section-2 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 215px auto 57px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-2 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-2 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    margin-top: 95px;
    margin-bottom: 45px;
    height: 446px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 47px;
    margin-bottom: 18px;
    height: 441px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 774px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 58px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 654px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px 48px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 86px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 316px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 7px auto 0 329px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -44px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 7px auto 0 329px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -44px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 7px auto 0 329px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -44px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: 31px auto 0;
  padding: 13px 55px 15px 54px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 17px;
    margin-left: 31px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 25px;
    margin-left: 120px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 17px;
    margin-left: 31px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 25px;
    margin-left: 120px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 17px;
    margin-left: 31px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 25px;
    margin-left: 120px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 539px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -56px;
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -56px;
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -56px;
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 670px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1762px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -44px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -44px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -44px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 1px;
    margin-left: 89px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 1px;
    margin-left: 89px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 1px;
    margin-left: 89px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 258px;
  }
}